body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 140px;
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container span {
  color: #ff4a4a;
}

.contents {
  background: #f1f1f1;
  height: 750px;
  overflow-y: hidden;
  margin: 0 -10px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 40px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.horizontal-list {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.item {
/* 横スクロール用 */
  display: inline-block;
  width: 90%;

  /* 見た目調整 */
  height: 400px;
  margin: 16px 10px 16px 16px;
  font-size: 48px;
}

img{
  margin-left: 50px;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
